extends layout

block bootStyle
    link(href='../../bootstrap.min.css', rel='stylesheet')
    link(rel='stylesheet', href='../../stylesheets/styles.css')
    

block content
  if uporabnik
    .container.fixed-bottom.text-center
      .dropup
        button.btn-lg.dropdown(type="button" data-toggle="dropdown" style="border-radius: 50%; background-color: #7800ff")
          | +
          span.caret
        ul.dropdown-menu.dropdown-menu-back.text-center
          li
            -povezava = '/users/' + uporabnik._id +"/addPicture"
            a(href=povezava) Add Picture
          li.divider
          li
            -povezava = '/users/' + uporabnik._id +"/addEmbed"
            a(href=povezava) Add Embed
          li.divider
          li
            -povezava = '/users/' + uporabnik._id +"/addText"
            a(href=povezava) Add Text
  
  main(role='main')
    div(class='album py-5 bg-light')
      div(class='container')
        if posts != undefined && posts.length > 0
          div(class='row')
            each post in posts
              div(class='col-md-4')
                div(class='card mb-4 shadow-sm')
                  -povezava = '/posts/' + post._id
                  a(href=povezava)
                    img(class='card-img-top', src='../../resources/A_01.jpg', alt='Card image cap')
                  div(class='card-body')
                    a(href='' class='card-user')
                      h5 #{post.title}
                    p(class='card-text')
                      | #{post.description}
                    p(class='crd-text')
                      b #{post.hashtags}
                      // a(href='' class='a-hashtag')
                      //   b #blessed
                      // a(href='' class='a-hashtag')
                      //   b #travel
                    div(class='d-flex justify-content-between align-items-center')
                      div(class='btn-group')
                        div(class='btn-circle btn-circle-default')
                        div(class='btn-circle btn-circle-default')
                      small(class='text-muted')
                        | #{post.likes}
        else
          div(class='row')
            h1 Post you are searching for does not exist :/
            br
            h2 BUT YOU FOUND ALEXANDER!
            img(class='card-img-top', src='https://scontent.flju1-1.fna.fbcdn.net/v/t1.0-9/31664593_10212828619736427_2148876720642457600_n.jpg?_nc_cat=110&_nc_ht=scontent.flju1-1.fna&oh=774c1899b8a7ee4a8063bdc402a27c4c&oe=5CA083B1', alt='Card image cap') 
        
    
block endSkripti
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')