doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='theme-color', content='#212529')
    title= title
    meta(name='description', content='Web development project at FRI.')
    meta(name='author', content='RB AH AV RM')
    
    block bootStyle
    
    link(href='../../resources/app-icon2.png', rel='icon')

  body
    
    
    nav(class='navbar navbar-expand-md navbar-dark bg-dark fixed-top')
      a(class='navbar-brand', href='/')
        img(src='../../resources/app-icon2.png', class='img-icon-top', height='50px')
        | Aggregate.io
        
      button(class='navbar-toggler', type='button', data-toggle='collapse', data-target='#navbarsExampleDefault', aria-controls='navbarsExampleDefault', aria-expanded='false', aria-label='Toggle navigation')
        span(class='navbar-toggler-icon')
      
      div(class='collapse navbar-collapse', id='navbarsExampleDefault')
        ul(class='navbar-nav mr-auto')
          //-form(class='form-inline my-2 my-lg-0')
            //-input( id='searchIn', class='form-control mr-sm-2', type='text', placeholder='Search', aria-label='Search')
            //-button(id='gumbS', onclick='preveri()', class='btn btn-outline-light my-2 my-sm-0') Search
          form(method='POST' action='/').form-inline.my-2.my-lg-0
            label(for='searchIn')
            input#searchIn.form-control(class='form-control mr-sm-2', type='text', placeholder='Search', name='searchIn')
            button(class='btn btn-outline-light my-2 my-sm-0') Search
        if !uporabnik
          a(class='navbar-brand', href='/login') Login
        else
          -povezava2 = '/users/'+ uporabnik._id
          a(class='navbar-brand', href=povezava2)
            | #{uporabnik.name}
            -povezava = ''+ uporabnik.profilePicture
            img(src=povezava, style='height: 50px; width: 50px; margin-left: 5px; border-radius: 50%;')
            
    
    block content
    
    footer(class='text-muted bg-dark')
      div(class='container')
        p(class='float-right')
          a(href='#') Back to top
          
    block endSkripti
    
