extends layout

block bootStyle
    link(rel='stylesheet', href='../../stylesheets/styles.css')
    link(href='../../bootstrap.min.css', rel='stylesheet')
    
block content
    main(role='main', style='background-color: #ffffff;')
        div(class='container')
            div(class='row')
                div(class='col-md-7')
                    div(class='card mb-4 shadow-sm')
                        if post.body.content != undefined
                            -povezava2 = post.body.content
                            if !povezava2 
                                img(class='card-img-top', src='../../resources/A_01.jpg', alt='Card image cap')
                            else
                                img(class='card-img-top', src=povezava2, alt='Card image cap')
                            //a(href='../resources/A_01.jpg', target='_blank')
                              //  img(class='card-img-top', src='../../resources/A_01.jpg', alt='Card image cap')
                            
                    div(class='card-body', style='background-color: #ffffff;')
                        a(href='', class="card-user")
                            h3 #{post.title}
                            //-h5 #{post.owner}
                            each up, index in vsiU
                                if up._id == post.owner
                                    -pov = '/users/' + up._id
                                    a(href=pov , class="card-user")
                                        h5= up.username
                                    
                        p(class='card-text')
                            | #{post.description}
                        p(class='card-text')
                            b #{post.hashtags}
                            //-a(href='', class="a-hashtag")
                            //-    b #blessed
                            //-a(href='', class="a-hashtag")
                            //-    b  #travel
                        div(class='d-flex justify-content-between align-items-center')
                            div(class='btn-group')
                                if uporabnik != null
                                    div(class='btn-circle btn-circle-success')
                                    div(class='btn-circle btn-circle-default')
                                else
                                    div(class='btn-circle btn-circle-default')
                                    div(class='btn-circle btn-circle-default')
                            small(class='text-muted')
                                | #{post.likes - post.dislikes}
                        br
                        if uporabnik != null
                            div(class='dropdown')
                                button(class='btn', type='button', data-toggle='dropdown', style='background-color: #ffffff')
                                    | Options
                                    span(class='glyphicon glyphicon-option-horizontal')
                                ul(class='dropdown-menu')
                                    li
                                        a(href='#myModal', data-toggle='modal')
                                            | Delete
                                    li
                                        a(href='/posts/postID/editPost')
                                            | Edit
                        div(id='myModal', class='modal fade')
                            div(class='modal-dialog modal-confirm')
                                div(class='modal-content')
                                    div(class='text-center')
                                        h4(class='modal-title')
                                            | Are you sure?
                                        button(type='button', class='close', data-dismiss='modal', aria-hidden='true')
                                            | &times;
                                    div(class='modal-body')
                                        p Do you really want to delete this picture? This process cannot be undone.
                                    div(class='text-center')
                                        button(type='button', class='btn btn-info', data-dismiss='modal')
                                            | Cancel
                                        -povezava= '/posts/delete/' + post._id
                                        form(method='POST' action=povezava)
                                            button.btn.btn-danger(type='submit')
                                                | Delete
                        p
                            h4 Comments
                        div
                            if uporabnik != null
                                form(method='POST' action='/posts/postID')
                                    textarea(class='form-control', id='exampleFormControlTextarea1', rows='3', name = 'textarea')
                                    br
                                    button(id='gumb', class='btn', type='submit', style='align: left;')
                                        | Post
                            hr
                            each comm, index in post.comments

                                each up, index in vsiU
                                    if up._id == comm.owner
                                        -povezava = '/users/' + comm.owner
                                        a(href=povezava)
                                            h6= up.username
                                        p= comm.content
                                hr
                                
                            //-h6 John
                            //-p Best thing since sliced bread
                            //-hr
                            //-h6 Mike
                            //-p Photography is the art, application and practice of creating durable images by recording light or other electromagnetic radiation, either electronically by means of an image sensor, or chemically by means of a light-sensitive material such as photographic film. It is employed in many fields of science, manufacturing (e.g., photolithography), and business, as well as its more direct uses for art, film and video production, recreational purposes, hobby, and mass communication.
                            //-hr
                            //-h6 Jess
                            //-p ok.
                            
                            
block endSkripti
    script(src='https://code.jquery.com/jquery-3.3.1.slim.min.js', integrity='sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo', crossorigin='anonymous')
    script(src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js', integrity='sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49', crossorigin='anonymous')
    script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js', integrity='sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy', crossorigin='anonymous')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')